<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005552529982-ib0g02jmkcfvfltv4m4eugbpnljftv39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005552529982-ib0g02jmkcfvfltv4m4eugbpnljftv39</string>
	<key>API_KEY</key>
	<string>AIzaSyDs_n1iT9qBiPD8-VVbosvqPXggH6PCx0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1005552529982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.drewh.FirebaseFreestyle</string>
	<key>PROJECT_ID</key>
	<string>fir-freestyle</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-freestyle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005552529982:ios:5a255724204d4d87ae576f</string>
</dict>
</plist>